  
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Have you forgot your password ?{% endblock title %}
{% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1>Have you forgot your password ?</h1>
        <p>Enter your email address we will sent link to your email</p>
        <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-outline-secondary" style="margin-top: 20px;" type="submit"
            value="Send!">
            
        </form>
        <img style="width: 200px;" src="https://tbcuzprodstorage.blob.core.windows.net/cdn/2012/01/40/000cfaf46cbc4d7eb2cb3da3c35470af/remotely-without-wisit.png" alt="">
    </div>
</div>
{% endblock content %}