{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block content %}
<div class="container py-4"> 
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3" style=" background-color: transparent; box-shadow: 5px 5px 5px 5px#06a1b7; border-radius: 5px;">
      <h3 style="text-align: center;">Resume</h3>
      <hr>
      <p> <h3>Muhammadali Akbarov</h3>
        A back-end developer with 1 years of experience in Python Apps development
        and development with an innovative concept to the next evolutionary phase.
        Having strong communication with a team, and a big interest in the IT-sphere.
        From my childhood, I have been interested in repairing home techniques, so it
        increased my interest in the computer world.</p>
      <hr>
      <h3>Work Experience</h3>
      <p style="text-decoration: none;" class="text-muted">
        17 February, 2021 - Persent <br>
      <div style="padding-left: 10px;">
          • PyTelegramBotApi / Kitchen Bot <br>
          • PyTelegramBotApi / Dilkash Taomlar Bot <br>
          • PyTelegramBotApi / COC Ranking Bot <br>
          • PyTelegramBotApi / Yaxdex Translate Bot <br>
          • PyTelegramBotApi / Advice Messages Bot <br>
          • PyTelegramBotApi / Latin-Cryillic Bot <br>
          • Library Django / Personal Blog site <br>
      </div>
      <hr>
      <h3>Education</h3>
      <p style="text-decoration: none;" class="text-muted">TFI, Tashkent Financial Institute 2019-2023 - Degree / 3</p>
      <p style="text-decoration: none;" class="text-muted">PDP, Persional Development Procces 2020 - 2021 </p>
      
      <div style="padding-left: 10px;">
        • Banking, Tashkent Financial Institute <br>
        • Python Backend Developer, PDP IT-ACADEMY
      </div>
      <hr>
      <h3>Skills</h3>
      <div style="padding-left: 10px;">
          • Python / PyTelegramBotApi / AioGram <br>
          • Django / RestApi / <br>
          • Docker / Celery <br>
          • Git / GitHub <br>
          • Postgresql / Sqlite3 <br>
          • HTML5 / CSS3 / Bootstrap_v4 and v5 <br>  
      </div>
      <hr>
      <h3>Languages</h3>
          • English level B2 <br> 
          • Russian level B1 Speaking <br>
          • Uzbek Native <br>
      </p>
      <hr>
      <h3>For connect</h3>
      <div class="d-flex">
          + 998 (88) 835 - 17 - 17 <br>
          + 998 (99) 990 - 17 - 21 <br>
          + 998 (93) 217 - 74 - 58 <br>
        <div style="text-align: end; text-align: justify; text-decoration: none; padding-left: 200px;" >
            <a href="">muhammadali17abc@gmail.com</a><br>
            <a href="">https://github.com/muhammadali_abc</a> <br>
            <a href="">https://telegram.me/livingroompc</a> <br>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

